
@{
    ViewData["Title"] = "Create";
}

<form action="/Student/Store" method="post">
    UseName: <input name="Name" type="text"/> <br />
    RollName: <input name="RollName" type="text" /><br/>
    <input type="submit" value="submit"/>
    @*<input type="button" value="edit"/>*@
</form>

